In [1]:
import pandas as pd

MAs=[3, 6, 12, 24, 48, 96, 192, 384]

In [19]:
def rsi(df, MAs=MAs):
    '''
    This function adds different RSI values to the dataframe based on the list of periods.

    '''
    for period in MAs:
        delta = df['close'].diff()
        delta = delta[1:]
        up, down = delta.copy(), delta.copy()
        up[up < 0] = 0
        down[down > 0] = 0
        AVG_Gain = up.rolling(period, closed='both').mean()
        AVG_Loss = abs(down.rolling(period, closed='both').mean())
        RS = AVG_Gain/AVG_Loss
        print(type(RS))
        df['RSI_'+ str(period)] = 100.0 - (100.0 / (1.0 + RS))
    return df

In [20]:
df = pd.read_csv('ETH_1h_history as of 09-01-2024.csv', index_col=0)

In [21]:
df.head()

,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,num_trades
0,2020-01-01 00:00:00,129.16,129.19,128.68,128.87,7769.17336,1577840399999,1.000930e+06,2504
1,2020-01-01 01:00:00,128.87,130.65,128.78,130.64,11344.65516,1577843999999,1.474278e+06,4885
2,2020-01-01 02:00:00,130.63,130.98,130.35,130.85,7603.35623,1577847599999,9.940256e+05,3046
3,2020-01-01 03:00:00,130.85,130.89,129.94,130.20,4968.55433,1577851199999,6.473610e+05,2818
4,2020-01-01 04:00:00,130.21,130.74,130.15,130.20,3397.90747,1577854799999,4.430067e+05,2264

In [22]:
df = rsi(df)

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [25]:
df.tail()

,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,num_trades,RSI_3,RSI_6,RSI_12,RSI_24,RSI_48,RSI_96,RSI_192,RSI_384
35259,2024-01-09 03:00:00,2312.09,2314.69,2307.02,2309.13,9382.4544,1704772799999,2.168060e+07,20175,16.398612,16.022925,64.655541,72.740467,57.264507,54.490455,50.460646,49.832741
35260,2024-01-09 04:00:00,2309.12,2318.00,2300.40,2315.20,8726.1326,1704776399999,2.015283e+07,21479,79.143258,25.966608,64.142636,72.639208,57.628004,54.738265,51.192459,49.977866
35261,2024-01-09 05:00:00,2315.20,2319.01,2301.40,2308.77,9108.7656,1704779999999,2.103808e+07,20845,48.380011,21.926070,63.956221,70.387045,56.278739,54.191957,50.841503,50.001657
35262,2024-01-09 06:00:00,2308.77,2309.08,2297.26,2302.00,8630.9460,1704783599999,1.988220e+07,21123,27.293165,22.106709,48.076616,68.685078,56.153156,53.567713,50.750594,50.245837
35263,2024-01-09 07:00:00,2302.00,2310.64,2298.58,2306.60,6331.7233,1704787199999,1.459177e+07,13559,44.700461,49.531835,35.411496,67.290031,55.969508,53.310429,50.710636,50.237400

In [8]:
from tensorflow import keras

In [9]:
model = keras.models.load_model('models/21-01-2024 13-18-26 val_PR 0.685 time frame 3.hd5')

WARNING:tensorflow:From C:\Users\user\AppData\Roaming\Python\Python311\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [10]:
model.summary()

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 Input (InputLayer)          [(None, 3, 68)]           0

 normalization_1 (Normaliza  (None, 3, 68)             137
 tion)

 lstm_2 (LSTM)               (None, 3, 3)              864

 lstm_3 (LSTM)               (None, 3)                 84

 dense_1 (Dense)             (None, 1)                 4

 output (Dense)              (None, 4)                 8

=================================================================
Total params: 1097 (4.29 KB)
Trainable params: 960 (3.75 KB)
Non-trainable params: 137 (552.00 Byte)
_________________________________________________________________

In [16]:
for lr in model.layers:
    print(lr.name, "\t",  lr.input_shape, "\t", lr.output_shape)

Input 	 [(None, 3, 68)] 	 [(None, 3, 68)]
normalization_1 	 (None, 3, 68) 	 (None, 3, 68)
lstm_2 	 (None, 3, 68) 	 (None, 3, 3)
lstm_3 	 (None, 3, 3) 	 (None, 3)
dense_1 	 (None, 3) 	 (None, 1)
output 	 (None, 1) 	 (None, 4)

In [4]:
import tensorflow as tf
physical_devices = tf.config.list_physical_devices('GPU')
tf.config.experimental.set_memory_growth(physical_devices[0], enable=True)

IndexError: list index out of range

In [5]:
device_name = tf.test.gpu_device_name()

In [6]:
device_name

''

In [1]:
list_derived_columns = ['hour_sin', 'hour_cos', 'day_sin', 'day_cos', 'mon_sin', 'mon_cos',
       'weekday_sin', 'weekday_cos', 'year', 'RATIO_close_and_MA3',
       'RATIO_close_and_MA6', 'RATIO_close_and_MA12', 'RATIO_close_and_MA24',
       'RATIO_close_and_MA48', 'RATIO_close_and_MA96', 'RATIO_close_and_MA192',
       'RATIO_close_and_MA384', 'RATIO_quote_asset_volume_and_MA3',
       'RATIO_quote_asset_volume_and_MA6', 'RATIO_quote_asset_volume_and_MA12',
       'RATIO_quote_asset_volume_and_MA24',
       'RATIO_quote_asset_volume_and_MA48',
       'RATIO_quote_asset_volume_and_MA96',
       'RATIO_quote_asset_volume_and_MA192',
       'RATIO_quote_asset_volume_and_MA384', 'RATIO_num_trades_and_MA3',
       'RATIO_num_trades_and_MA6', 'RATIO_num_trades_and_MA12',
       'RATIO_num_trades_and_MA24', 'RATIO_num_trades_and_MA48',
       'RATIO_num_trades_and_MA96', 'RATIO_num_trades_and_MA192',
       'RATIO_num_trades_and_MA384', 'RATIO_close_and_STD3',
       'RATIO_close_and_STD6', 'RATIO_close_and_STD12',
       'RATIO_close_and_STD24', 'RATIO_close_and_STD48',
       'RATIO_close_and_STD96', 'RATIO_close_and_STD192',
       'RATIO_close_and_STD384', 'RSI_3_close', 'RSI_6_close', 'RSI_12_close',
       'RSI_24_close', 'RSI_48_close', 'RSI_96_close', 'RSI_192_close',
       'RSI_384_close']

In [2]:
for col in list_derived_columns:
    print(col)

hour_sin
hour_cos
day_sin
day_cos
mon_sin
mon_cos
weekday_sin
weekday_cos
year
RATIO_close_and_MA3
RATIO_close_and_MA6
RATIO_close_and_MA12
RATIO_close_and_MA24
RATIO_close_and_MA48
RATIO_close_and_MA96
RATIO_close_and_MA192
RATIO_close_and_MA384
RATIO_quote_asset_volume_and_MA3
RATIO_quote_asset_volume_and_MA6
RATIO_quote_asset_volume_and_MA12
RATIO_quote_asset_volume_and_MA24
RATIO_quote_asset_volume_and_MA48
RATIO_quote_asset_volume_and_MA96
RATIO_quote_asset_volume_and_MA192
RATIO_quote_asset_volume_and_MA384
RATIO_num_trades_and_MA3
RATIO_num_trades_and_MA6
RATIO_num_trades_and_MA12
RATIO_num_trades_and_MA24
RATIO_num_trades_and_MA48
RATIO_num_trades_and_MA96
RATIO_num_trades_and_MA192
RATIO_num_trades_and_MA384
RATIO_close_and_STD3
RATIO_close_and_STD6
RATIO_close_and_STD12
RATIO_close_and_STD24
RATIO_close_and_STD48
RATIO_close_and_STD96
RATIO_close_and_STD192
RATIO_close_and_STD384
RSI_3_close
RSI_6_close
RSI_12_close
RSI_24_close
RSI_48_close
RSI_96_close
RSI_192_close
RSI_384_close

In [1]:
print(0.00000001)

1e-08